@import 'uu.sp.commons';

// Search Results
.uu-pulse-content-box {

  .ms-srch-item,
  .ms-srch-bestBetItem {

    width: 600px;

    @media #{$media-tablet-max} {
      width: 100%;
    }

    .ms-srch-item-icon {
      line-height: 26px;
      margin-top: 0;
    }

    .ms-srch-bestBetItem-icon {
      top: 5px;
    }

    .ms-srch-item-title {
      margin: 2px;
      width: 700px;
    }

    .ms-srch-item-link {
      font-size: 20px;
      line-height: 26px;
    }
  }

  #SearchBox {
    width: 100%;
  }
}

.ms-srch-item:hover,
.ms-srch-resultHover:hover,
.edisc-SearchResultItemContainer:hover {
  background-color: map-get($colors, grey-lighter);
}

@media #{$media-tablet-max} {
  .ms-srch-hover-outerContainer {
    display: none !important;
  }
}

@media #{$media-phone} {
  .ms-srch-ellipsis {
    font-size: medium;
    white-space: normal;
  }

  .ms-srch-item {
    width: inherit !important;
  }

  .ms-srch-item-path {
    -ms-word-break: break-all !important;
    width: inherit !important;
    word-break: break-all !important;
  }
}

.ms-srch-sbLarge {
  display: flex;
  width: 100%;

  > input {
    width: 100%;
  }

  .ms-srch-sb-navLink {
    width: 28px;

    &:hover {
      background-color: map-get($colors, grey-lighter);
    }
  }

  .ms-srch-sb-searchLink {
    width: 36px;

    &:hover {
      background-color: map-get($colors, grey-lighter);
    }
  }
}

.ms-srch-sbLarge > input {
  @include width-minus(82%, 100%, 66px);
}

.ms-srch-result {
  margin-top: 0 !important;

  #Paging {
    margin: 10px 0 !important;
  }
}

.ms-srch-result-groups {
  margin-bottom: 10px !important;
}

#UpScopeLinkTop {
  margin: 0 !important;
  padding: 0 0 8px !important;
  width: 100% !important;
}

#UpScopeLinkBottom {
  margin: 0 !important;
  width: 100% !important;
}

#searchIcon {
  display: none !important;
}

.histogram_bar_inactive {
  background-color: map-get($colors, grey-lighter);
  border-left: 1px solid map-get($colors, grey-lighter);
  border-right: 1px solid map-get($colors, grey-lighter);
  border-top: 2px solid map-get($colors, grey);
}

.histogram_bar_active {
  background-color: map-get($colors, grey);
  border-left: 1px solid map-get($colors, grey);
  border-right: 1px solid map-get($colors, grey);
  border-top: 2px solid map-get($colors, brand);
}

.histogram_bar_active,
.histogram_bar_inactive {
  &:hover,
  &:active {
    background-color: map-get($colors, brand-lighter);
    border-left: 1px solid map-get($colors, brand-lighter);
    border-right: 1px solid map-get($colors, brand-lighter);
    border-top: 2px solid map-get($colors, brand);
  }
}

.ajax__multi_slider_default .inner_rail_horizontal {
  background-color: map-get($colors, brand);
  border-top-color: map-get($colors, brand);
  border-bottom-color: map-get($colors, brand);
}

.slider_tick_inactive {
  background-color: map-get($colors, grey-light);
  border-top: 1px solid map-get($colors, grey-light);
  border-bottom: 1px solid map-get($colors, grey-light);
}

.slider_tick_active {
  background-color: map-get($colors, brand);
  border-color: map-get($colors, brand);
}

.ms-srch-item-path {
  color: map-get($colors, brand);
}

.ms-ref-ctrl .ms-ref-selSec .ms-ref-filterSel,
.ms-ref-ctrl .ms-ref-allSec .ms-ref-filterSel {
  color: map-get($colors, black);
}

.ms-srchnav-link-selected:link,
.ms-srchnav-link-selected:visited {
  color: map-get($colors, brand);
}

.ms-srchnav-link:hover,
.ms-srchnav-link-selected:hover {
  color: map-get($colors, brand-dark);
}

.ms-ref-name,
.ms-srchnav-link,
.ms-srchnav-link-selected {
  color: map-get($colors, brand);
}

.ms-srchnav-link:hover,
.ms-srchnav-link-selected:hover,
.ms-ref-refiner #Value > a:hover,
.ms-ref-unsel-toggle:hover {
  color: map-get($colors, brand-dark);
}

.ms-srch-result #PagingSelf a {
  color: map-get($colors, brand-dark);

  &:hover {
    color: map-get($colors, brand-dark);
  }
}

.ms-srch-result #PagingLink a {
  color: map-get($colors, black);

  &:hover {
    color: map-get($colors, brand-dark);
  }
}

.ms-srch-hover-siteViewerContainer {
  border: 1px solid map-get($colors, black);
}

// .ms-ref-unsel-toggle:hover {
//   color: map-get($colors, grey-lighter)
// }