@import 'uu.sp.commons';

@mixin backgroundBorderRight() {
  background: map-get($colors, grey);
  border-right-color: map-get($colors, grey);
}

@media (max-width: 360px) {
  .uu-pulse-suite-bar .uu-pulse-suite-bar-left .ms-core-brandingText {
    padding-left: 7px;
  }
}

$suite-bar-height: 40px; // normally 43px

@mixin load-suitebar-css ($type) {
  .uu-pulse-suite-bar-whitespace {
    height: $suite-bar-height;
    z-index: -1;

    @media #{$media-phone} {
      display: block;
    }

    @media #{$media-tablet-min} {
      display: none;
    }
  }

  .uu-pulse-suite-bar {
    background-color: map-get($colors, white);
    border-bottom: 2px solid map-get($colors, black);

    @media #{$media-phone} {
      border-bottom: 1px solid map-get($colors, grey);
      position: fixed;
      top: 0;
      z-index: 300000;
    }

    #hscBarBackground {
      border-bottom: 2px solid map-get($colors, black);
      height: 42px;
      position: absolute;
      z-index: -1;
    }

    .uu-pulse-suite-bar-left {
      background-color: map-get($colors, white);
      height: $suite-bar-height;
      padding-left: 0;
      padding-right: 0;

      .ms-core-brandingText {
        padding-left: 0;
      }

      .uu-pulse-home-logo-anchor {
        img {
          height: 40px; //32px;
          padding: 5px 3px;

          @media #{$media-phone} {
            background-color: map-get($colors, white);
            @if $type == 'site' or $type == 'team' {
              left: -15px;
              position: absolute;
            }
          }
        }
      }
    }

    .uu-pulse-suite-bar-right {
      position: relative;

      @media #{$media-phone} {
        position: fixed;
        right: 0;
      }

      .uu-pulse-suite-bar-right-welcome {
        background-color: map-get($colors, brand);
        float: right;
        height: $suite-bar-height;

        @media #{$media-tablet-max} {
          top: 0;
        }

        .ms-core-deltaSuiteBarRight {
          padding: 7px 0;
        }

        .ms-core-menu-root {
          color: map-get($colors, white);
          display: inline-block;
          margin-top: 3px;
        }

        #DeltaSuiteBarRight {
          padding-top: 5px;

          #welcomeMenuBox span a {
            color: map-get($colors, white);
            text-decoration: none;
            //margin-top: 3px;
          }
        }

        #DeltaSuiteLinks {
          background-color: map-get($colors, white);
        }

        .ms-welcome-root {
          border-right: 1px solid map-get($colors, white);
          cursor: pointer;
          font-size: 13px;
          height: $suite-bar-height;
          margin-top: -5px;
          padding-top: 2px;
          text-transform: uppercase;

          .ms-core-menu-arrow {
            height: 8px !important;
          }
        }

        .ms-siteactions-root {
          margin-left: -3px;
          margin-right: -1px;

          .ms-siteactions-normal {
            height: $suite-bar-height + 2;
            margin-top: -7.5px;
            padding-top: 3px;
            text-transform: uppercase;

            .ms-core-menu-buttonIcon {
              left: -251px !important;
              top: -102px !important;
            }
          }
        }


      }

      .uu-pulse-suite-bar-right-mobile-search,
      .uu-pulse-suite-bar-right-mobile-menu {
        background-color: map-get($colors, brand);
        border-right: 1px solid map-get($colors, white);
        color: map-get($colors, white);
        cursor: pointer;
        float: right;
        height: $suite-bar-height;
        line-height: $suite-bar-height;
        padding: 0 10px;
        position: relative;
        font-size: 16px;

        &.selected {
          background-color: map-get($colors, black);
        }

        &:hover {
          background-color: map-get($colors, black);
        }
      }

      .uu-pulse-suite-bar-right-mobile-search-box {
        @include elevation-high;
        background-color: map-get($colors, black);
        padding: 7px;
        position: fixed;
        right: 0;
        top: $suite-bar-height;
        width: 100%;
        z-index: 10000;

        .input-group-addon {
          background-color: map-get($colors, brand);
          border-radius: 0;
          color: map-get($colors, white);
          cursor: pointer;
        }
      }

      .uu-pulse-suite-bar-right-atoz {
        @include sofia-pro;
        display: none;
        height: $suite-bar-height;
        position: absolute;
        right: -1px;
        text-transform: uppercase;
        top: $suite-bar-height;
        z-index: 10000;

        ul {
          @include elevation-high;
          // background-color: map-get($colors, white);
          border: 1px solid map-get($colors, white);
          border-top: 0;
          margin: 0;
          padding: 0;
          width: 200px;

          > li:first-child {
            border-top: 4px solid map-get($colors, black);
          }
        }

        ul li {
          list-style-type: none;
          margin: 0;

          a {
            background-color: map-get($colors, brand);
            border-bottom: 1px solid map-get($colors, white); 
            border-top: 0;
            color: map-get($colors, white);
            display: block;
            font-size: 14px;
            height: 36px;
            line-height: 7px;
            padding: 14px;
            text-align: center;
            width: 100%;

            &:hover {
              background-color: map-get($colors, black);
            }
          }

          &:last-child {
            a {
              border: 0;
            }
          }
        }
      }

      .ms-core-menu-link {
        color: map-get($colors, white);

        &:hover {
          background: map-get($colors, black);
        }
      }
    }
  }

  // core
  #ms-loading-box #ms-gearPageTitle .ms-dlgTitle,
  #notificationArea .ms-accentText {
    color: map-get($colors, brand);
  }

  .ms-microblogInputFocus {
    border: 1px solid map-get($colors, brand);
  }

  .ms-inlineSearch-searchImgSpanHoverHighlight {
    background-color: map-get($colors, grey);
    border: 1px solid map-get($colors, grey);
  }

  #NavDropdownListContainer {
    border: 1px solid map-get($colors, brand);
    background: map-get($colors, brand);
    color: map-get($colors, white);

    .ms-qSuggest-hListItem {
      background: map-get($colors, black);
      color: map-get($colors, white);
    }
  }

  #suiteLinksBox {
    background: map-get($colors, brand);

    ul {
      &.ms-core-suiteLinkList {
        padding-right: 0;
      }
    }
  }

  .ms-core-suiteLinkList {
    height: $suite-bar-height;
  }

  .ms-core-suiteLink {
    border-right: 1px solid map-get($colors, grey);
    height: $suite-bar-height;
    padding-left: 10px;
    padding-right: 10px;

    &:hover {
      background: map-get($colors, black);
    }
  }

  .ms-core-suiteLink-a {
    height: $suite-bar-height;

    &:hover {
      background: map-get($colors, black);
    }
  }

  .ms-welcome-hover {
    @include backgroundBorderRight;
    background: map-get($colors, black);
    border-right-color: map-get($colors, grey);

    &:hover {
      background: map-get($colors, black);
      border-right-color: map-get($colors, grey);
    }

    .ms-core-menu-root {
        background: map-get($colors, black);
        border-right-color: map-get($colors, grey);
    }
  }

  .ms-siteactions-hover {
    background: map-get($colors, black);
    border-right-color: map-get($colors, grey);

    &:hover {
      background: map-get($colors, black);
      border-right-color: map-get($colors, grey);
    }
  }

  .ms-core-menu-box {
    background: map-get($colors, black);
    width: 200px !important;
    text-align: center;

    .ms-core-menu-separator {
      display: none;
    }
  }

  .ms-core-menu-item {
    .ms-core-menu-title {
      color: map-get($colors, white);

      &:hover {
        color: map-get($colors, white);
        // text-decoration: underline;
      }
    }

    .ms-core-menu-itemDisabled {
      .ms-core-menu-title {
        &:hover {
          color: map-get($colors, white);
        }
      }
    }
  }

  .ms-core-menu-list {
    background: map-get($colors, brand);

    li {
      background: map-get($colors, brand);
      border-bottom: 1px solid map-get($colors, white);

      a {
        color: map-get($colors, white);
      }
    }
  }
}
