// media queries
$media-phone-mini: '(max-width:482px)';
$media-650-device: '(max-device-width:650px)';
$media-phone: '(max-width:767px)';
$media-tablet: '(min-width:768px) and (max-width:991px)';
$media-tablet-min: '(min-width:768px)';
$media-tablet-max: '(max-width:991px)';
$media-desktop: '(min-width:992px) and (max-width:1199px)';
$media-desktop-min: '(min-width:992px)';
$media-desktop-max: '(max-width:1199px)';
$media-wide-desktop: '(min-width:1200px)';


// shadow colors
$colors-in-shadow-1: rgba(65, 64, 66, .6);
$colors-in-shadow-2: rgba(65, 64, 66, .2);

$colors-out-shadow: rgba(0, 0, 0, .2);

// colors
$colors: (
  black: #414042,
  brand-black: #414042,
  grey-light: #c3c3c3,
  grey-lighter: #f2f2f2,
  grey: #a9a9a9,
  brand-grey: #a9a9a9,
  grey-dark: #909090,
  grey-darker: #767676,
  white: #fff,
  brand-white: #fff,
  beige: #f2f2ea,
  brand-beige: #f2f2ea,
  red-light: #f77066,
  red-lighter: #f99d97,
  red: #f44336,
  brand-red: #f44336,
  red-dark: #ea1c0d,
  red-darker: #ba160a,
  pink-light: #ee4c83,
  pink-lighter: #ca61dc,
  pink: #e91e63,
  brand-pink: #e91e63,
  pink-dark: #c1143e,
  pink-darker: #930e3b,
  purple-light: #bc37d3,
  purple-lighter: #ca61dc,
  purple: #9c27b0,
  brand-purple: #9c27b0,
  purple-dark: #771e86,
  purple-darker: #52145d,
  blue-light: #51adf6,
  blue-lighter: #82c4f8,
  blue: #2196f3,
  brand-blue: #2196f3,
  blue-dark: #0c7cd5,
  blue-darker: #0960a5,
  green-light: #6ec071,
  green-lighter: #92cf94,
  green: #4caf50,
  brand-green: #4caf50,
  green-dark: #3d8b40,
  green-darker: #2d682f,
  cyan-light: #08e3ff,
  cyan-lighter: #3be9ff,
  cyan: #00bcd4,
  brand-cyan: #00bcd4,
  cyan-dark: #008fa1,
  cyan-darker: #00626e,
  yellow-light: #fff06e,
  yellow-lighter: #fff5a1,
  yellow: #ffeb3b,
  brand-yellow: #ffeb3b,
  yellow-dark: #ffe608,
  yellow-darker: #d4be00,
  orange-light: #ffad33,
  orange-lighter: #ffc166,
  orange: #ff9800,
  brand-orange: #ff9800,
  orange-dark: #cc7a00,
  orange-darker: #995b00,
  brown-light: #996b5b,
  brown-lighter: #af8778,
  brown: #795548,
  brand-brown: #795548,
  brown-dark: #593f35,
  brown-darker: #392822,
  brand-light: #d91c38,
  brand-lighter: #e7415a,
  brand: #ac162c,
  brand-dark: #7f1020,
  brand-darker: #520a15,
  info-light: #51adf6,
  info-lighter: #82c4f8,
  info: #2196f3,
  info-dark: #0c7cd5,
  info-darker: #0960a5,
  warning-light: #ffad33,
  warning-lighter: #ffc166,
  warning: #ff9800,
  warning-dark: #cc7a00,
  warning-darker: #995b00,
  success-light: #6ec071,
  success-lighter: #92cf94,
  success: #4caf50,
  success-dark: #3d8b40,
  success-darker: #2d682f,
  error-light: #f77066,
  error-lighter: #f99d97,
  error: #f44336,
  error-dark: #ea1c0d,
  error-darker: #ba160a,
  default: #909090,
  disabled: #909090,
  quiet: #909090,
  ribbon-grey: #efefef,
);

$radiuses: (
  none: 0,
  default: 3px,
  round: 30px,
);

@mixin generate-color-classes {
  @each $name, $color in $colors {
    .u-color-#{$name} {
      color: $color;
    }

    .u-bg-#{$name} {
      background-color: $color;
    }

    .u-fill-#{$name} {
      fill: $color;
    }

    .u-border-#{$name} {
      border-color: $color;
    }
  }
}

// @include generate-color-classes;

// elevation and box shadows
@mixin generate-shadow-classes {
  .u-elevation-high {
    box-shadow: 0 1px 3px 0 $colors-out-shadow;
  }

  .u-elevation-higher {
    box-shadow: 0 2px 6px 0 $colors-out-shadow;
  }

  .u-elevation-highest {
    box-shadow: 0 3px 9px 0 $colors-out-shadow;
  }

  .u-elevation-low {
    box-shadow: inset 0 0 1px $colors-in-shadow-1, inset 0 2px 4px -2px $colors-in-shadow-2;
  }

  .u-elevation-lower {
    box-shadow: inset 0 0 1px $colors-in-shadow-1, inset 0 4px 8px -4px $colors-in-shadow-2;
  }

  .u-elevation-lowest {
    box-shadow: inset 0 0 1px $colors-in-shadow-1, inset 0 6px 12px -6px $colors-in-shadow-2;
  }
}

// @include generate-shadow-classes;


@mixin elevation-high {
  box-shadow: 0 1px 3px 0 $colors-out-shadow;
}

@mixin elevation-higher {
  box-shadow: 0 2px 6px 0 $colors-out-shadow;
}

@mixin elevation-highest {
  box-shadow: 0 3px 9px 0 $colors-out-shadow;
}

@mixin elevation-low {
  box-shadow: inset 0 0 1px $colors-in-shadow-1, inset 0 2px 4px -2px $colors-in-shadow-2;
}

@mixin elevation-lower {
  box-shadow: inset 0 0 1px $colors-in-shadow-1, inset 0 4px 8px -4px $colors-in-shadow-2;
}

@mixin elevation-lowest {
  box-shadow: inset 0 0 1px $colors-in-shadow-1, inset 0 6px 12px -6px $colors-in-shadow-2;
}

@mixin width-minus($fallback, $width, $minus) {
  width: $fallback;
  width: calc(#{$width} - #{$minus});
}

@mixin pointer-item {
  cursor: pointer;
  text-decoration: none;
}

@mixin force-box-sizing ($box-sizing) {
  box-sizing: $box-sizing !important;
}

@mixin opensans-light {
  font-family: 'Open Sans Light', 'Segoe UI Light', Helvetica, Arial, sans-serif;
}

@mixin opensans {
  font-family: 'Open Sans', 'Segoe UI', Helvetica, Arial, sans-serif;
}

@mixin opensans-bold {
  font-family: 'Open Sans Bold', 'Segoe UI', Helvetica, Arial, sans-serif;
}

@mixin opensans-italic {
  font-family: 'Open Sans Italic', 'Segoe UI', Helvetica, Arial, sans-serif;
}

@mixin sofia-pro {
  font-family: 'sofia-pro', 'Century Gothic', 'Merriweather Sans', sans-serif;
}

$font-weight-lighter: 200;

@mixin font-weight-lighter {
  font-weight: $font-weight-lighter;
}

$font-weight-light: 300;

@mixin font-weight-light {
  font-weight: $font-weight-light;
}

$font-weight-normal: 400;

@mixin font-weight-normal {
  font-weight: $font-weight-normal;
}

$font-weight-bold: 500;

@mixin font-weight-bold {
  font-weight: $font-weight-bold;
}

$font-weight-bolder: 600;

@mixin font-weight-bolder {
  font-weight: $font-weight-bolder;
}

$font-weight-boldest: 700;

@mixin font-weight-boldest {
  font-weight: $font-weight-boldest;
}

$font-size-xlarge: 16px;

@mixin font-size-xlarge {
  font-size: 16px;
}

$font-size-large: 15px;

@mixin font-size-large {
  font-size: 15px;
}

$font-size-normal: 14px;

@mixin font-size-normal {
  font-size: 14px;
}

$font-size-small: 13px;

@mixin font-size-small {
  font-size: 13px;
}

$font-size-xsmall: 12px;

@mixin font-size-xsmall {
  font-size: 12px;
}

@mixin sofia-pro-normal {
  @include sofia-pro;
  @include font-weight-normal;
}

@mixin sofia-pro-light {
  @include sofia-pro;
  @include font-weight-light;
}

@mixin sofia-pro-bold {
  @include sofia-pro;
  @include font-weight-bold;
}

@mixin text-transform-default {
  text-transform: uppercase;
}

@mixin button-default {
  @include elevation-high;
  @include text-transform-default;
}

@mixin generate-button-classes {
  .btn {
    @include button-default;
  }
}

// @mixin a-button {
//   @include elevation-high;
//   @include text-transform-default;
//   background-color: map-get($colors, 'white');
//   border: 1px solid map-get($colors, 'black');
//   border-radius: 3px;
//   color: map-get($colors, 'black');
//   cursor: pointer;
//   display: inline-block;
//   font-family: inherit;
//   font-size: 10px;
//   font-weight: 500;
//   letter-spacing: 1px;
//   line-height: normal;
//   margin: 0;
//   max-width: 100%;
//   outline: 0;
//   overflow: hidden;
//   padding: 5px 30px;
//   text-align: center;
//   text-decoration: none;
//   text-overflow: ellipsis;
//   user-select: none;
//   vertical-align: middle;
//   white-space: wrap;
// }

// @mixin generate-button-classes {
//   .a-button {
//     @include a-button;

//     &:not(:disabled):not(.disabled) {
//       &:hover {
//         background-color: map-get($colors, 'brand');
//         border: 1px solid map-get($colors, 'brand');
//         color: map-get($colors, 'white');
//       }

//       &:focus {
//         border-color: map-get($colors, 'blue');
//         box-shadow: inset 0 0 0 2px map-get($colors, 'blue-light');
//       }
//     }

//     &.a-button-brand {
//       background-color: map-get($colors, 'white');
//       border: 1px solid map-get($colors, 'black');
//       color: map-get($colors, 'brand');
//     }

//     &.a-button-info {
//       background-color: map-get($colors, 'white');
//       border: 1px solid map-get($colors, 'info');
//       color: map-get($colors, 'info');

//       &:not(:disabled):not(.disabled) {
//         &:hover {
//           background-color: map-get($colors, 'info');
//           border: 1px solid map-get($colors, 'info');
//         }
//       }
//     }

//     &.a-button-warning {
//       background-color: map-get($colors, 'white');
//       border: 1px solid map-get($colors, 'warning');

//       &:not(:disabled):not(.disabled) {
//         &:hover {
//           background-color: map-get($colors, 'warning');
//           border: 1px solid map-get($colors, 'warning');
//         }
//       }
//     }

//     &.a-button-error {
//       background-color: map-get($colors, 'white');
//       border: 1px solid map-get($colors, 'error');

//       &:not(:disabled):not(.disabled) {
//         &:hover {
//           background-color: map-get($colors, 'error');
//           border: 1px solid map-get($colors, 'error');
//         }
//       }
//     }

//     &:disabled,
//     .disabled {
//       cursor: not-allowed;
//       opacity: .5;
//     }

//     &.a-button-xsmall {
//       font-size: 11.2px;
//     }

//     &.a-button-medium {
//       font-size: 14px;
//     }

//     &.a-button-large {
//       font-size: 20px;
//     }

//     &.a-button-xlarge {
//       font-size: 24px;
//     }

//     &.a-button-super {
//       font-size: 32px;
//     }

//     &.a-button-square {
//       border-radius: map-get($radiuses, 'none');
//     }

//     &.a-button-round {
//       border-radius: map-get($radiuses, 'round');
//     }

//     &.a-button-expand {
//       display: inline-block;
//       margin-left: 0;
//       margin-right: 0;
//       padding-left: 5px;
//       padding-right: 5px;
//       width: 100%;
//     }
//   }
// }
