@import 'uu.sp.commons';

@mixin uu-pulse-content-nav-button ($type) {
  .uu-pulse-content-nav-button {
    @include elevation-high;
    background-color: map-get($colors, grey-lighter);
    opacity: .78;
    border-bottom: none;
    position: fixed;

    @if $type == 'site' or $type == 'team' {
      top: 102px;
    }
    @if $type == 'app' {
      top: 177px;
    }

    left: 0;
    z-index: 200000;
    padding: 0 5px;
    color: map-get($colors, black);
    cursor: pointer;
    font-size: 12px;
    font-size: 16px;
    padding: 5px;
    transition: top 1s;

    &:hover {
      background-color: map-get($colors, grey);
      color: map-get($colors, white);
    }

    @media #{$media-phone} {
      @if $type == 'site' or $type == 'team' {
        top: 68px;
      }
      @if $type == 'app' {
        top: 143px;
      }
    }

    @media #{$media-desktop-min} {
      display: none;
    }
  }
}

@mixin load-workspace-css ($type) {
  #s4-workspace {
    &.workspaceFullWidth {
      width: 100% !important;
    }
  }

  #contentRow {
    @if $type == 'site' or @if $type == 'team' {
      padding-top: 5px;
    }
    @if $type == 'app' {
      padding-top: 0;
    }
    position: relative;

    @if $type == 'site' {
      &.uu-pulse-side-nav-shown {
        .uu-pulse-content-box {
          float: left;

          @media #{$media-tablet-max} {
            padding: 0 5px;
            width: 100%;
          }

          @media #{$media-desktop-min} {
            padding-left: 15px;
            width: calc(100% - 200px);
          }
        }

        @include uu-pulse-content-nav-button($type);
      }

      &.uu-pulse-side-nav-hidden {
        .uu-pulse-content-nav-button {
          display: none !important;
        }

        .uu-pulse-side-nav {
          display: none !important;
        }

        .uu-pulse-content-box {
          float: left;
          width: 100%;
        }
      }
    }

    @if $type == 'team' or $type == 'app' {
      .uu-pulse-content-box {
        float: left;

        @if $type == 'app' {
          @include width-minus(80%, 100%, 220px);
          padding-left: 10px;
          padding-top: 5px;

          #DeltaPlaceHolderMain {
            @media #{$media-tablet-max} {
              padding: 0 15px;
            }
          }
        }

        @if $type == 'team' {
          @media #{$media-phone} {
            width: 100%;
          }
        }

        @media #{$media-tablet-max} {
          @if $type == 'team' {
            padding: 0 5px;
          }
          @if $type == 'app' {
            padding-left: 0;
            width: 100%;
          }
        }

        @if $type == 'team' {
          @media #{$media-desktop-min} {
            padding-left: 15px;
          }

          @media #{$media-desktop} {
            width: 740px;
          }

          @media (min-width: 1200px) and (max-width: 1499px) {
            width: 940px;
          }

          @media (min-width: 1500px) and (max-width: 1699px) {
            width: 1240px;
          }

          @media (min-width: 1700px) and (max-width: 1899px) {
            width: 1440px;
          }

          @media (min-width: 1900px) {
            width: 1640px;
          }
        }
      }

      @include uu-pulse-content-nav-button($type);
    }
  }
}
